.header {
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  border: 0px solid #000000;
  margin-right: 10px;
  background: #28a74545;
  width: 7%;
  text-align: center;
  cursor: pointer;
}
.header:hover{
  width: 8%;
}
.btnSiguiente {
  float: right;
  margin-top: 10px;
}
